<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Job Title</th>
            <th scope="col">Company</th>
            <th scope="col">Application Status</th>
            <th scope="col-4">Date Job Added</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <div>
            <canvas id="myChart" width="400" height="400"></canvas>
           
            <script>
                
                var jobArray = [];

                {{#each jobs}}  
                var jobObj = {
                    jobTitle: "{{this.job_title}}",
                    jobStatus: "{{this.status}}",
                    company: "{{this.company}}",
                    id: {{this.id}}
                }
                jobArray.push(jobObj);
                {{/each}}

                console.log(jobArray)
                const jobTitles = jobArray.map((jobT) => (jobT.jobTitle))
                const ids = jobArray.map((jobId) => (jobId.id))
            
                const ctx = document.getElementById('myChart');

                const myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: jobTitles,
                        datasets: [{
                            label: 'Number of Days since I applied',
                            data: ids,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: false
                            }
                        }
                    }
                });
            </script>
            
        </div>
        {{#each jobs as |job|}}
        <tr>
            <th scope="row">{{id}}</th>
            <td><a href="./jobs/{{id}}">{{job_title}}</a></td>
            <td>{{company}}</td>
            <td>
                <select class="form-select" aria-label="Default select example">
                    <option selected>{{status}}</option>
                    <option value="1">Applied Online</option>
                    <option value="2">Interviewing</option>
                    <option value="3">Rejected</option>
                    <option value="4">Offer Recieved</option>
                    <option value="5">Accepted Offer</option>
                    <option value="6">Reject Offer</option>
                </select>
            </td>
            <td>{{format_date job_added}}</td>
            <td scope="col"><button class="btn btn-dark signUpButton" type="button"
                                    data-bs-primary="modal" data-bs-target="#staticBackdrop">Save</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<a class="button btn btn-dark" href="/newJob" id="new-job-button">Add New Job</a>

            </div>
        </div>
    </div>
</div>