<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">[]</th>
                            <th scope="col">Job Title</th>
                            <th scope="col">Company</th>
                            <th scope="col">Application Status</th>
                            <th scope="col-4">Date Job Added</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each jobs as |job|}}
                        <tr>
                            <th scope="row">{{id}}</th>
                            <td><a href="./jobs/{{id}}">{{job_title}}</a></td>
                            <td>{{company}}</td>
                            <td>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>{{status}}</option>
                                    <option value="1">Applied Online</option>
                                    <option value="2">Interviewing</option>
                                    <option value="3">Rejected</option>
                                    <option value="4">Offer Recieved</option>
                                    <option value="5">Accepted Offer</option>
                                    <option value="6">Reject Offer</option>
                                </select>
                            </td>
                            <td>{{format_date job_added}}</td>
                            <td scope="col"><button class="btn btn-dark" id={{id}}>Save</button></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <a class="button btn btn-dark" href="/newJob" id="new-job-button">Add New Job</a>
            </div>
        </div>
    </div>
</div>