<h1>{{job_title}}</h1>
<h2>{{company}}</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Status</th>
            <th scope="col">Date</th>
            <th scope="col">Existing Notes</th>
            <th scope="col">New Notes</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {{#each statuses as |status|}}
        <tr>
            <th scope="row">{{status_option}}</th>
            <td>
                <div class="form-group row">
                    <div class="col-10">
                        <input class="form-control" type="date" id="{{id}}-date-input"
                            value="{{format_date_for_form date_updated}}">
                    </div>
                </div>
            </td>
            <td>
                <div id="enteredText">{{notes}}</div>
            </td>
            <td>
                <div class="form-group">
                    <textarea class="form-control" id="{{id}}-Textarea" rows="3"></textarea>
                </div>
            </td>
            <td>
                <button id="save" status-id="{{id}}">Save</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<button id="save-status">Save</button>
<script src="/js/saveStatus.js"></script>