<h1>{{job_title}}</h1>
<h2>{{company}}</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Status</th>
            <th scope="col">Date</th>
            <th scope="col">Notes</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {{#each statuses as |status|}}
        <tr>
            <th scope="row">{{status_option}}</th>
            <td>
                <div class="form-group row">
                    <div class="col-10">
                        <input class="form-control" type="date" id="{{id}}-date-input">
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <textarea class="form-control" id="{{id}}-Textarea" rows="3"></textarea>
                </div>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<button id="save-status">Save</button>
<script src="/js/saveStatus.js"></script>